<html lang="en">

<head>
    <!-- <meta> tags> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/libs/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/css/libs/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/css/libs/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>{{page.site}}</title>
</head>

<body>
    <div class="container">
        <h2 class="title center">Pico W App</h2>
        <h3 class="title center">{{page.title}}</h3>
        <div class="content">
            {{{body}}}
            {{#if dialog.message}}
            <div class="hidden" id="dialog" title="{{dialog.title}}">{{dialog.message}}</div>
            {{/if}}
            <div class="box">
                <form method="POST" action="/">
                    <textarea id="info" name="msg" rows="10" cols="50"></textarea>
                    <br/>
                    <br/>
                    <button id="btnmsg" name="msginfo">Submit</button>
                    <br/>
                    <br/>
                    <button id="btnon" name="led" value="on">ON</button>
                    <button id="btnoff" name="led" value="off">OFF</button>
                    <br/>
                </form>
                <div class="circle" id="led1"></div>
            </div>
            <div class="box">
                <p>Pico W button:</p>
                <div class="circle" id="led2"></div>
            </div>
        </div>
    </div>

    <script src="/js/libs/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/js/libs/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>